@import "./common/clear";
@import "./common/common";
@import "./common/vars";

.intro__slider {
  width: 100%;
}

@import './common/header';

#welcome {
  position: relative;
  background: url("../assets/header.jpg") no-repeat center / cover;
  height: 100vh;
  z-index: 1;

  .welcome-button {
    max-width: 300px;
    width: 100%;
    background-color: transparent;
    border: 2px solid white;
    padding: 16px 0;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    line-height: 1;
    transition: 0.4s;

    &:hover,
    &:focus {
      transform-origin: center;
      transition: 0.4s background-color, 0.4s color;
      background-color: #fff;
      color: #ffbf00;
      border-color: #ffbf00;
    }
  }

  .section-subtitle {
    --section-subtitle-color: #fff;
  }

  .welcome-title {
    --section-title-color: #ffbf00;
  }

  .welcome-description {
    --section-description-color: #fff;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
}

#services {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    @media screen and (max-width: 861.01px) {
      padding: 0;
    }

    display: flex;
    flex-direction: column;
  }

  .services {
    &-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 40px;
      align-items: center;
      flex-wrap: wrap;

      @media screen and (max-width: 861.01px) {
        display: none;
      }
    }

    &-slider {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .slider-control {
        top: 50%;
        position: absolute;
        background: none;
        color: #fff;
        transform: translateY(-50%);
        display: none;
        font-size: 24px;

        &:disabled {
          color: #707070;
          opacity: 0.7;
        }

        @media screen and (max-width: 861.01px) {
          display: flex;
        }

        &.left-control {
          left: 30px;
        }

        &.right-control {
          right: 30px;
        }
      }
    }
  }

  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 10px;
    max-width: 400px;
    width: 100%;
    border: 3px solid black;
    position: relative;
    z-index: 0;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.65);
      z-index: -1;
    }

    &:nth-child(1) {
      background: url('../assets/service-1.jpg') no-repeat center / cover;
    }

    &:nth-child(2) {
      background: url('../assets/service-2.jpg') no-repeat center / cover;
    }

    &:nth-child(3) {
      background: url('../assets/service-3.jpg') no-repeat center / cover;
    }

    &:nth-child(4) {
      background: url('../assets/service-4.jpg') no-repeat center / cover;
    }

    &:nth-child(5) {
      background: url('../assets/service-5.jpg') no-repeat center / cover;
    }

    &:nth-child(6) {
      background: url('../assets/service-6.jpg') no-repeat center / cover;
    }

    &:nth-child(7) {
      background: url('../assets/service-7.jpg') no-repeat center / cover;
    }

    &:nth-child(8) {
      background: url('../assets/service-8.jpg') no-repeat center / cover;
    }

    &:nth-child(9) {
      background: url('../assets/service-9.jpg') no-repeat center / cover;
    }

    &-title {
      margin: 40px 0 35px;
      font-size: 28px;
      line-height: 32px;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      color: #fff;

      text-align: center;
    }

    &-details {
      font-size: 18px;
      line-height: 1.5;
      min-height: 81px;
      text-align: center;
      color: #fff;
    }
  }

  &-slider {
    display: none;
    overflow-x: hidden;
    width: 100%;
    flex-wrap: nowrap;
    gap: 40px;
    padding: 0 20px;

    align-self: flex-start;
    transition: 0.5s transform;

    @media screen and (max-width: 860.01px) {
      display: flex;
    }

    .service {
      max-width: initial;
    }
  }

  .section-title {
    margin-bottom: 24px;
    align-self: center;
    text-align: center;
  }

  .section-description {
    margin-bottom: 40px;
    align-self: center;

    max-width: 700px;
  }
}

#equipment {
  padding: 50px 0;
  background-color: #f3f3f3;

  .section-description {
    margin-bottom: 36px;
  }

  .section-title {
    margin-bottom: 24px;
  }

  .equipment {
    &-wrapper {
      display: flex;
      gap: 40px;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;

      @media screen and (max-width: 540.01px) {
        gap: 8px;
      }
    }

    &-title {
      font-size: 24px;
      margin-bottom: 16px;
      font-family: "Exo 2", sans-serif;
      color: #333;
      font-weight: 600;
    }

    &-description {
      font-size: 18px;
      margin-bottom: 24px;
      font-family: "Roboto", sans-serif;
    }

    &-link {
      font-size: 20px;
      font-family: "Roboto", sans-serif;
      position: relative;
      padding-bottom: 4px;
      color: black;
      transition: 0.5s width;
      transform-origin: 100%;

      &::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.5s width;
      }

      &:hover::before {
        width: 0;
        transition: 0.5s width;
      }
    }

    &-icon {
      width: 40px;
      height: 40px;
      position: absolute;
      display: flex;
      align-items: center;
      top: 20px;
      left: 10px;

      img {
        color: #ffbf00;
      }
    }

    max-width: 400px;
    min-height: 160px;
    position: relative;
    width: 100%;
    padding: 20px 20px 20px 60px;
  }
}

#qualities {
  padding: 60px 0;
  background: url("../assets/qualities.jpg") no-repeat center / cover;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-title {
    --section-title-color: #fff;

    margin-bottom: 24px;
  }

  .section-description {
    --section-description-color: #fff;

    margin-bottom: 24px;
  }

  .qualities-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px 10px;
    margin-bottom: 40px;
    flex-wrap: wrap;

    .quality {
      max-width: 420px;
      width: 100%;
      padding: 20px 20px 20px 90px;
      display: flex;
      position: relative;
      flex-direction: column;

      &-title {
        color: #ffbf00;
        font-size: 24px;
        font-family: "Exo 2", sans-serif;
        margin-bottom: 16px;
      }

      &-description {
        color: #fff;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
      }

      &-icon {
        position: absolute;
        width: 70px;
        height: 70px;
        top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        background: rgba(255, 255, 255, 0.1);

        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

#clients {
  padding: 80px 0;

  .section-title {
    margin-bottom: 40px;
  }
}

#reviews {
  padding: 60px 0;

  .section-title {
    margin-bottom: 40px;
  }

  .reviews-client {
    padding-bottom: 30px;
  }

  .reviews-client__wrapper {
    align-items: stretch;
  }
  .reviews-client__slide {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .reviews-client__ttl {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 5px;
    font-family: "Exo 2", sans-serif;
    line-height: 1.1;
  }
  .reviews-client__date {
    color: #31313180;
    font-size: 20px;
    font-weight: 500;
    font-family: "Exo 2", sans-serif;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d4d480;
    margin-bottom: 10px;
  }
  .reviews-client__txt {
    flex-grow: 1;
    margin-bottom: 10px;
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
  }
  .reviews-client__name {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
    font-family: "Exo 2", sans-serif;
    color: #ffbf00;
  }
}

.why__slider {
  width: 100%;
}

@import './common/footer';